@use "_mixins/wrapper" as *;
@use "_mixins/medias" as medias;

.l-majorBlock {
    margin-top: 40px;
    margin-bottom: 40px;

    &__wrap {
        @include wrapper();
    }


    &__title {
        margin-bottom: 32px;
        text-align: center;
    }

    &__news,
    &__video {
        flex: 1;

        @include medias.breakpoint-down('md') {
            width: auto;
            max-width: 100%;
        }
    }

    &__news {
        @include medias.breakpoint-up('lg') {
            width: 780px;
            flex: 1 0 780px;
        }
    }

    &__video {
        @include medias.breakpoint-up('lg') {
            width: 380px;
            flex: 1 0 380px;
        }
    }

    // &--kv {}

    &__chill {
        display: flex;
        justify-content: space-between;
        gap: 40px;

        @include medias.breakpoint-down('md') {
            flex-direction: column;
        }

        @include medias.breakpoint-down('sm') {
            gap: 80px;
        }
    }

    &--sm {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    &--lg {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    &--insidePage {
        margin-top: 0px;
    }
}

.l-minorBlock {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.l-marketBlock {
    display: flex;
    gap: 20px;
    justify-content: space-between;

    &__info,
    &__calc {
        flex: 1;

        @include medias.breakpoint-down('md') {
            width: auto;
            max-width: 100%;
        }
    }

    &__info {
        @include medias.breakpoint-up('lg') {
            width: 730px;
            flex: 1 0 730px;
        }
    }

    &__calc {
        @include medias.breakpoint-up('lg') {
            width: 450px;
            flex: 1 0 450px;
        }
    }

    @include medias.breakpoint-down('md') {
        width: 100%;
    }

    @include medias.breakpoint-down('sm') {
        flex-direction: column;
        gap: 32px;
    }
}