.l-flexBar {
  display: flex;
  flex-wrap: wrap;
  > div {
    box-sizing: border-box;
    background: #ffe0e0;
  }
  &__full {
    flex: 1 0 100%;
  }

  &__grow {
    flex: 1 1 auto;
  }

  &__shrink {
    flex: 0 1 auto;
  }

  &__right {
    margin-left: auto;
  }
  &__center {
    margin: 0 auto;
  }
}

.l-majorBlock {
  background: rgb(208, 239, 255);
  > div {
    box-sizing: border-box;
    background: #ffe0e0;
  }
  padding-top: 40px;
  padding-bottom: 40px;
  &__title {
    margin-bottom: 32px;
  }
  &__news {
    width: 780px;
    flex: 1 0 780px;
  }
  &__video {
    width: 380px;
    flex: 1 0 380px;
  }
  &--kv {
  }
  &--chill {
    display: flex;
    gap: 40px;
  }
  &--sm {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  &--lg {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  &--insidePage {
    padding-top: 0px;
  }
}

.l-minorBlock {
  background: rgb(208, 239, 255);
  > div {
    box-sizing: border-box;
    background: #ffe0e0;
  }
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.l-marketBlock {
  background: rgb(208, 239, 255);
  > div {
    box-sizing: border-box;
    background: #ffe0e0;
  }
  display: flex;
  gap: 20px;
  justify-content: space-between;
  &__info {
    width: 730px;
    flex: 1 0 730px;
  }
  &__calc {
    width: 450px;
    flex: 1 0 450px;
  }
  //   @include break-point('mb') {
  //     flex-direction: column;
  //     gap: 32px;
  //   }
}
