@use "../_mixins/medias" as media;

.c-tab {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__content {}

    &__panel {
        display: none;

        &.is-active,
        &[aria-selected="true"] {
            display: block;
        }
    }

    &--horizontal {
        flex-direction: row;
        gap: 60px;
    }
}

.c-tabNav {
    $root: &;

    box-sizing: border-box;
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;

    &__item {
        margin-bottom: -4px;
        border-bottom: 1px solid var(--Border-Divider-Neutrals, #E0E0E0);
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        padding: 12px 20px;
        color: var(--Text-Button-Text--Grey, #707070);
        font-weight: 700;
        border: none;
        white-space: nowrap;
        border-bottom: 4px solid transparent;
        background-color: transparent;
        transition: all .2s ease;

        @at-root button#{&} {
            cursor: pointer;
        }

        &[aria-selected="true"] {
            color: var(--Button-Primary-Default-01, #903F98);
            border-color: var(--Button-Primary-Default-01, #903F98);
            pointer-events: none;

            @at-root & #{$root} {
                &__icon {
                    background-color: var(--Button-Primary-Default-01, #903F98);
                }
            }
        }
    }

    &__icon {
        display: block;
        width: 24px;
        height: 24px;
        padding: 3px;
        background-color: var(--Text-Button-Text--Grey, #707070);
        mask-position: center;
        mask-repeat: no-repeat;
        mask-size: contain;

        &--lineChart {
            mask-image: url(../media/icon/purple/line-chart.svg);
        }

        &--table {
            mask-image: url(../media/icon/purple/table.svg);
        }
    }

    &--pill {
        width: fit-content;
        max-width: 100%;
        margin: 0 auto;
        padding: 8px;
        background: var(--BG-Surface-Grey, #F6F5F5);
        border-radius: 120px;

        @at-root & #{$root} {
            &__item {
                width: 200px;
                margin: -2px;
                border-bottom: 0;
                text-align: center;
            }

            &__link {
                width: 100%;
                border: 2px solid transparent;

                &:hover {
                    color: var(--Button-Primary-Hover, #6B206C);
                }

                &[aria-selected="true"] {
                    color: var(--Button-Primary-Default-01, #903F98);
                    border-radius: var(--Tab-Tab-Radius, 120px);
                    border-color: var(--Tab-Tab-Primary, #F2DCEE);
                    background: var(--BG-Surface-White, #FFF);
                    pointer-events: none;

                    @at-root & #{$root} {
                        &__icon {
                            background-color: var(--Button-Primary-Default-01, #903F98);
                        }
                    }
                }
            }
        }
    }



    @include media.breakpoint-down("md") {
        &--pill {
            width: 100%;

            @at-root & #{$root} {
                &__item {
                    width: auto;
                    flex: 1;
                }

                &__link {
                    padding: 12px 8px;
                }
            }
        }

        &--select {
            display: none;
        }
    }

    &--vertical {
        flex-direction: column;
        gap: 8px;

        @at-root & #{$root} {
            &__item {
                border-bottom: 0;
            }

            &__link {
                border: 2px solid transparent;

                &[aria-selected="true"] {
                    color: var(--Button-Primary-Default-01, #903F98);
                    border-radius: 120px;
                    border-color: var(--Tab-Tab-Primary, #F2DCEE);
                    pointer-events: none;

                    @at-root & #{$root} {
                        &__icon {
                            background-color: var(--Button-Primary-Default-01, #903F98);
                        }
                    }
                }
            }
        }
    }
}

.o-tabSelect {
    display: none;
}

@include media.breakpoint-down("md") {
    .o-tabSelect {
        $root: &;
        display: block;
        width: 100%;

        &__selected {
            position: relative;
            display: flex;
            width: 100%;
            align-items: center;
            gap: 12px;
            padding: 16px 20px;
            background: #FFF;
            border: 1.5px solid var(--Form-Form-Border-Secondary, #F2DCEE);
            border-radius: 12px;
            cursor: pointer;

            &.is-open {
                @at-root & #{$root} {
                    &__collapse {
                        transform: rotate(180deg);
                    }
                }

                @at-root &+#{$root} {
                    &__optionPanel {
                        max-height: 200px;
                    }
                }
            }
        }

        &__text {
            flex: 1;
            font-size: 1.125em;
            font-weight: 700;
            color: var(--Button-Primary-Default-01, #903F98);
        }

        &__collapse {
            width: 24px;
            height: 24px;
            background-image: url(../media/icon/purple/arrow-down.svg);
            transition: all .3s ease;
        }

        &__optionPanel {
            position: absolute;
            z-index: 100;
            width: 100%;
            max-height: 0px;
            background: #fff;
            border-radius: var(--Form-Radius, 12px);
            box-shadow: 0px 2px 12px 0px rgba(247, 226, 178, 0.75);
            overflow: hidden;
            transition: max-height .3s ease;
        }

        &__options {
            width: 100%;
            margin: 0px;
            padding: 0px;
        }

        &__option {
            display: flex;
            width: 100%;
            padding: 12px 32px;
            color: var(--Text-Body, #111);
            background: transparent;
            border: none;
            cursor: pointer;

            &.is-active {
                color: var(--Button-Primary-Hover, #6B206C);
            }
        }
    }
}