$width: (
  lg: (
    max: null,
    min: 1280px,
    device: 'desktop',
  ),
  md: (
    max: 1279px,
    min: 768px,
    device: 'pad',
  ),
  sm: (
    max: 767px,
    min: null,
    device: 'mobile',
  ),
);
